* { box-sizing: border-box; }

body {
    margin: 5rem;
}

.button,
button {
	font-family: Helvetica;
	font-size: 14px;
    padding: 10px;
    border: 2px solid #333;
    text-transform: uppercase;
    transition: all 0.2s;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

.button:hover,
button:hover {
    background: #333;
    color: #fff;
    text-decoration: none;
}
